@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&family=Sora:wght@100..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:is(:hover, .hover *));

@theme inline {
  --font-inter: "Inter", sans-serif;
  --font-sora: "Sora", serif;
  --font-urbanist: "Urbanist", monospace;
  --font-titillium: "Titillium Web", sans-serif;
  --font-rajdhani: "Rajdhani", sans-serif;

  --color-navbar-background: var(--navbar-background);
  --color-background: var(--background);
  --color-primary-red: var(--primary-red);
  --color-primary: var(--primary);
}

:root {
  --background: #0d0105;
  --navbar-background: #120109;
  --primary-red: #f71e1e;
  --primary: #ff590d;
}

.dark {
  --background: #120109;
  --navbar-background: #120109;
  --primary-red: #f71e1e;
  --primary: #ff590d;
}

@layer base {
  * {
    @apply border-white;
  }
  body {
    @apply bg-background leading-[150%];
  }
}

/* suspense spinner */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
