@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:is(:hover, .hover *));

@theme inline {
  --font-playfair: "Playfair", serif;
  --font-rajdhani: "Rajdhani", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-cinzel: "Cinzel", serif;
  --font-lato: "Lato", sans-serif;

  --color-navbar-background: var(--navbar-background);
  --color-background: var(--background);
  --color-primary-red: var(--primary-red);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --background: #0d0105;
  --navbar-background: #120109;
  --primary-red: #f71e1e;
  --primary: #ebab09;
  --secondary: #ff590d;
}

.dark {
  --background: #120109;
  --navbar-background: #120109;
  --primary-red: #f71e1e;
  --secondary: #ff590d;
  --primary: #ebab09;
}

@layer base {
  * {
    @apply border-white;
  }
  body {
    @apply bg-background font-lato text-white leading-[150%];
  }
}

/* suspense spinner */
.loader {
  border: 4px solid rgba(235, 235, 235, 0.683);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(225, 225, 225, 0.838);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(181, 179, 179, 0.749);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* api spinner */
.api-loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.api-loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.api-loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.api-loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.api-loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.api-loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.api-loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.api-loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.api-loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.api-loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.api-loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.api-loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.api-loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.api-loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}
